<footer class="bg-gray-900 text-white py-15">
    <div class="container mx-auto text-center px-30 py-1">
        <div class="h-30 mt-0 justify-center flex ">
            <img alt="Royal Monarch logo" src="/images/logo2.png" class="h-20  mb-6"/>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-10 text-left">
            <div>
                <p class="font-bold mb-4">SUPPORT</p>
                <ul class="space-y-2">
                    <li>Order Status</li>
                    <li>Product Support</li>
                    <li>Shipping & Return Policy</li>
                    <li>Complaint Registration</li>
                </ul>
            </div>
            <div>
                <p class="font-bold mb-4">About Us</p>
                <ul class="space-y-2">
                    <li>Contact Us</li>
                    <li>Privacy Policy</li>
                    <li>Terms of use</li>
                    <li>FAQ</li>
                </ul>
            </div>
            <div>
                <p class="font-bold mb-4">Contact</p>
                <div class="mb-2">
                    <span class="font-bold">Email :</span> royalmonarch693@gmail.com
                </div>
                <div>
                    <span class="font-bold">Phone :</span> +91 8888888888
                </div>
            </div>
            <div>
                <p class="font-bold mb-4">SHOP</p>
                <p class="font-bold mb-4">Connect with us</p>
                <div class="mt-4 flex text-left space-x-4">
                    <img alt="Instagram logo" src="https://placehold.co/20x20"/>
                    <img alt="Facebook logo" src="https://placehold.co/20x20"/>
                    <img alt="Twitter logo" src="https://placehold.co/20x20"/>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-10 text-xs">© 2024 RoyalMonarch. All Rights Reserved.</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
