
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal Monarch</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/tailwindcss/output.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://raw.githubusercontent.com/rosshatokay/toasterjs/main/src/toaster.js"></script>
    <link rel="stylesheet" href="https://raw.githubusercontent.com/rosshatokay/toasterjs/main/src/toaster.css" />

</head>

<body>

<nav class="items-center justify-between flex p-4 border-b-2">
    <div class="items-center flex space-x-4">
        <a href="#" class="text-black">Home</a>
        <a href="#" class="text-black">Shop</a>
        <a href="#" class="text-black">Contact Us</a>
        <a href="#" class="text-black">About Us</a>
    </div>
    <div class="items-center flex mr-40px space-x-2">
        <img alt="Royal Monarch logo" src="/images/logo3.png" class="h-13"/>
        <span class="text-black text-lg font-serif">ROYAL MONARCH</span>
    </div>
    <div class="items-center flex space-x-8">
        <a href="#" class="text-black"><i class="fas fa-heart"></i></a>
        <a href="#" class="text-black"><i class="fas fa-user"></i></a>
        <a href="#" class="text-black"><i class="fas fa-shopping-cart"></i></a>
    </div>
</nav>
